.video-time {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 23px;
}

.thumbnail-row {
  position: relative;
}

